<div>


</div>
<div class="row">
    <h1 class="title">
        Le blog de Nke Sebastien Yapo
        
       
        <hr>
        <center>
                <a href="https://github.com/yaposebastien" ><img src="/images/mark-github.svg"  alt="github" height="25px" width="25px"></a>
                <a href="https://twitter.com/yaposebastien" ><img src="/images/Twitter_Social_Icon_Circle_Color.png"  alt="twitter" height="25px" width="25px"></a>
                <a href="https://www.linkedin.com/in/nke-sebastien-yapo-b581bb16/" ><img src="/images/LI-In-Bug.png"  alt="linkedin" height="25px" width="25px"></a>
        </center>
        <blockquote>
            <small><q>Tout ce que je sais, c'est que je ne sais rien.</q></small>
            <small><q>True knowledge exists in knowing that you know nothing.</q></small>
            <small><i>Socrates</i></small>
        </blockquote>
      
   
     
    </h1>

  <div class="col-sm-10 col-sm-offset-1">
    $for(posts)$
        
    <!--Beginning article-->
    <div class="col-md-4 col-sm-6">
          <div class="card-container manual-flip">
             <div class="card">
                 <div class="front">
                     <div class="cover">
                         <img src="/images/image_blog_accueil.jpg"/>
                     </div>
                     <div class="user">
                         <img class="img-circle" src="/images/1200px-Heckert_GNU_white.svg.png"/>
                     </div>
                     <div class="content">
                         <div class="main">
                             <h2 class="name">$subtitle$</h2>
                             <p class="profession">$tags$</p>
                             <p class="text-center"><a href="$url$">$title$</a></p>
                             <center><p><i>$date$</p></i></center>
                         </div>
                        
                     </div>
                 </div> <!-- end front panel -->
               
             </div> <!-- end card -->
         </div> <!-- end card-container -->
     </div> <!-- end col sm 3 -->
     <!--End Article-->
$endfor$
</div><!-- End block of articles-->

</div> <!-- end row -->
</div>